@font-face {
  font-family: Sofia Pro;
  src: local("./sofiaProRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Sofia Pro;
  src: local("./sofiaProSemiBold.ttf");
  font-weight: bold;
}
