@import "./src/assets/color";


.vertical-product-image-card{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .img-cont{
    display: grid;
    grid-template-columns: minmax(100px, 320px);
    max-width: 320px;
    & > img {
      margin-bottom: 7px;
    }
    & > * {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    .fav-icon{
      z-index: 2;
      justify-self: right;
      margin: 10px 10px 0 0;
      cursor: pointer;
    }
    .fav-filled{
      fill: $black;
    }
    .display-none{
      display:none;
    }
  }
}
